[Unit]
Description=orari-main-gunicorn daemon
After=network.target

[Service]
User=webmaster
Group=www-data
WorkingDirectory=/home/webmaster/projects/orari-main
ExecStart=/home/webmaster/projects/venv3.13.3/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/orari-main-gunicorn.sock orari.wsgi:aplication

[Install]
WantedBy=multi-user.target
